/*
Colors used:
Primary (Green): #8bc34a
Primary (Light): #bef67a
Primary (Dark): #5a9216
Secondary (Orange): #ffb74d;
Secondary (Light): #ffe97d;
Secondary (Dark): #c88719;
Black: #000000;
White: #FFFFFF;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(190, 246, 122, .25);
  font-family: 'Open Sans', sans-serif;
  margin: 1em;
}

header {
  background-color: #8bc34a;
  padding: 0.625em;
  margin: 0 auto;
  border-bottom: 0.1875em solid #5a9216;
  box-shadow: 0.0625em 0.0625em 0.25em 0em rgba(50, 50, 50, 1);
  width: 100%;
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1.375em;
}

h1 {
  font-size: 1.125em;
  font-weight: 700;
  color: #ffffff;
}

h2 {
  font-size: 1.125em;
  font-weight: 700;
  color: #000000;
}

h3 {
  font-size: 1em;
  font-weight: 500;
  color: #000000;
}

h4 {
  font-size: 1em;
  font-weight: 500;
  color: #000000;
}

p {
  font-size: 0.875em;
  font-weight: 400;
  color: #000000;
}

footer {
  background-color: #8bc34a;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

#hero {
  background-color: #8bc34a;
  text-align: center;
  width: 100%;
  display: inline-block;
}

#work {
  padding: 0em;
  width: 100%;
}

#contact {
  padding: 0.625em;
  margin: 1em;
  width: 100%;
  background-color: #8bc34a;
  padding: 0.625em;
  margin: 0 auto;
}

#work .row {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  border-bottom: 0.0625em solid #5a9216;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Layout styling */
.container {
  padding: 0;
}

.logo {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.layout-link-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link-icon {
  width: 3.125em;
}

.bold-words {
  text-weight: 700;
}

.bullet-less-list {
  list-style-type: none;
  text-align: center;
}

.green-bullet li::before {
  content: "•";
  color: #5a9216;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.header-nav {
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
}

.header-span {
  font-size: 1.125em;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-bottom: 0.625em;
}

.copyright-section {
  font-size: 0.625em;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.footer-title {
  font-size: 1.125em;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.footer-paragraph {
  font-size: 0.875em;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.button {
  background: #FFB74D;
  border: 0.0625em solid #C88719;
  font-family: OpenSans-Bold;
  font-size: 0.875em;
  color: #FFFFFF;
  letter-spacing: 0;
  display: inline-block;
  padding-top: 0.75em;
  padding-left: 1.875em;
  padding-right: 1.875em;
  padding-bottom: 0.75em;
  text-decoration: none;
  box-shadow: 0.0625em 0.0625em 0.25em 0em rgba(50, 50, 50, 1);
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 0.9375em;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
}

.nav-button {
  text-decoration: none;
  color: #ffffff;
}

.nav-button:visited {
  color: #c88719;
}

.nav-button:hover,
.nav-button:focus {
  color: #ffe97d;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 1.25em 0 0.8125em;
  }

  header>div>nav {
    width: auto;
    float: right;
    margin-top: 0.25em;
  }

  #hero span {
    display: block;
  }

  .logo {
    padding-left: 1em;
      max-width: 250px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0.625em;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  hero-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }
}
